<div class="container">
  <div class="header">

    <ul class="nav nav-pills pull-right">

    <% if logged_in? %>

    <form class="navbar-form navbar-right" role="form" method="get" action="/logout">
      <button type="submit" class="btn btn-danger">Log out</button>
    </form>
    <p class="navbar-text navbar-right">Wassup, <%= cur_user.name %></a></p>

    <% else %>

      <form class="navbar-form navbar-right" role="form" method="get" action="/signup">
      <button type="submit" class="btn btn-success">Sign up</button>
      </form>

      <form class="navbar-form navbar-right" role="form" method="post" action="/login">
        <div class="form-group">
          <input type="text" placeholder="Email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>

    <% end %>

    </ul>
    <a href="/tracks"><h3 class="text-muted">Music Wall</h3></a>
  </div>
</div>
